.hero-image{
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(/images/chelsea-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  border-radius: 0.3125rem;
  background-color: rgba(0, 0, 0, 0.5);

 
}
.wrapper h1{
  color: white;
    
}
.wrapper h1 span{
  border: 10px solid;
  padding: 6px 14px;
  display: inline-block;
    
    
}

.des{
  margin: 20px;
  display: block;
  color: white;
}










// .hero {
//     background-color: $veryLightGray;

//     .wrapper{

//         @include breakpoint-up(large){
//             display: grid;
//             grid-template-columns: 1fr;
//             grid-template-rows: 1fr;
//             align-items: center;
//         }
       
//     }

//     &__title {
//         color: $white;
//         text-align: left;
//     }
 
//     &__image {
//         background-image: url('/images/chelsea-unsplash.jpg');
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: center center;
//         min-height: 26.5rem;
        
//     }

//     &__textbox {
//         color: $white;
//         position: absolute;
//         padding: 1.25rem;
//         border-radius: 0.3125rem;
//         background-color: rgba(0, 0, 0, 0.5);
//         margin: 0;

//         top: 50%;
        
//         left: 50%;
//         transform: translate(-50%, -50%);
//        @include breakpoint-down(small){  
     
        
//         margin: 5px 0px 0px 0px;
   
      
//        }

//     } 
// }

